*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
:root {
   --el-color-primary: #04178b;
   --el-color-primary-light-3: #06002e;
}
body,
#app {
   min-height: 100vh;
   font-family: "Inter", sans-serif;
}

a {
   text-decoration: none;
   color: #000;
}
ul {
   list-style: none;
}
